USE [master]
GO
/****** Object:  Database [QuanLyNhanSu]    Script Date: 01/04/2026 17:39:41 ******/
CREATE DATABASE [QuanLyNhanSu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhanSu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyNhanSu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNhanSu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyNhanSu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhanSu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhanSu]
GO
/****** Object:  Table [dbo].[BangChamCong]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangChamCong](
	[MaChamCong] [varchar](15) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[NgayLamViec] [date] NOT NULL,
	[GioVao] [time](7) NULL,
	[GioRa] [time](7) NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangLuongThang]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangLuongThang](
	[MaBangLuong] [varchar](20) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[SoNgayCong] [int] NOT NULL,
	[LuongCoBan] [decimal](18, 2) NOT NULL,
	[HeSoLuong] [decimal](10, 2) NOT NULL,
	[TongPhuCap] [decimal](18, 2) NOT NULL,
	[TongThuong] [decimal](18, 2) NOT NULL,
	[KhauTruBHXH] [decimal](18, 2) NOT NULL,
	[KhauTruBHYT] [decimal](18, 2) NOT NULL,
	[KhauTruBHTN] [decimal](18, 2) NOT NULL,
	[ThueTNCN] [decimal](18, 2) NOT NULL,
	[ThucLanh] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBangLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhanVien]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[CCCD] [varchar](20) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SDT] [varchar](20) NULL,
	[Email] [varchar](120) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietThuong]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietThuong](
	[MaCTT] [varchar](12) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[MaThuong] [varchar](10) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[NgayThuong] [date] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [varchar](10) NOT NULL,
	[TenCV] [nvarchar](100) NOT NULL,
	[HeSoLuong] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucThuong]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucThuong](
	[MaThuong] [varchar](10) NOT NULL,
	[TenLoaiThuong] [nvarchar](120) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeAn]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeAn](
	[MaDA] [varchar](10) NOT NULL,
	[TenDA] [nvarchar](150) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NULL,
	[MaPB] [varchar](10) NOT NULL,
	[VonDeAn] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [varchar](12) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[LoaiHD] [nvarchar](50) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NULL,
	[LuongHopDong] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNghiPhep]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNghiPhep](
	[MaLoaiNP] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[SoNgayToiDa] [int] NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiNP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhuCap]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhuCap](
	[MaLoaiPC] [varchar](10) NOT NULL,
	[TenLoaiPC] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NghiPhep]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NghiPhep](
	[MaNP] [varchar](12) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[MaLoaiNP] [varchar](10) NOT NULL,
	[TuNgay] [date] NOT NULL,
	[DenNgay] [date] NOT NULL,
	[SoNgay] [int] NOT NULL,
	[LyDo] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[MaPB] [varchar](10) NOT NULL,
	[MaCV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCongDeAn]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongDeAn](
	[MaNV] [varchar](10) NOT NULL,
	[MaDA] [varchar](10) NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NULL,
	[PhuCapDeAn] [decimal](18, 2) NULL,
 CONSTRAINT [PK_PhanCongDeAn] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPB] [varchar](10) NOT NULL,
	[TenPB] [nvarchar](150) NOT NULL,
	[MaTruongPB] [varchar](10) NULL,
	[NgayThanhLap] [date] NULL,
	[Email] [varchar](120) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuCap]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuCap](
	[MaPC] [varchar](12) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[MaLoaiPC] [varchar](10) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[NgayApDung] [date] NOT NULL,
	[NgayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThamSo]    Script Date: 01/04/2026 17:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThamSo](
	[MaThamSo] [varchar](12) NOT NULL,
	[TenThamSo] [nvarchar](100) NOT NULL,
	[GiaTri] [decimal](18, 2) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[NgayCapNhat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThamSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BangChamCong] ([MaChamCong], [MaNV], [NgayLamViec], [GioVao], [GioRa], [TrangThai]) VALUES (N'CC00001', N'NV001', CAST(N'2026-03-02' AS Date), CAST(N'08:02:00' AS Time), CAST(N'17:05:00' AS Time), N'Đi làm')
INSERT [dbo].[BangChamCong] ([MaChamCong], [MaNV], [NgayLamViec], [GioVao], [GioRa], [TrangThai]) VALUES (N'CC00002', N'NV001', CAST(N'2026-03-03' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:08:00' AS Time), N'Đi làm')
INSERT [dbo].[BangChamCong] ([MaChamCong], [MaNV], [NgayLamViec], [GioVao], [GioRa], [TrangThai]) VALUES (N'CC00003', N'NV001', CAST(N'2026-03-04' AS Date), CAST(N'07:55:00' AS Time), CAST(N'17:23:00' AS Time), N'Đi làm')
GO
INSERT [dbo].[BangLuongThang] ([MaBangLuong], [MaNV], [Thang], [Nam], [SoNgayCong], [LuongCoBan], [HeSoLuong], [TongPhuCap], [TongThuong], [KhauTruBHXH], [KhauTruBHYT], [KhauTruBHTN], [ThueTNCN], [ThucLanh]) VALUES (N'0326NV001', N'NV001', 3, 2026, 21, CAST(85000000.00 AS Decimal(18, 2)), CAST(8.40 AS Decimal(10, 2)), CAST(11000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(6800000.00 AS Decimal(18, 2)), CAST(1275000.00 AS Decimal(18, 2)), CAST(850000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(87075000.00 AS Decimal(18, 2)))
INSERT [dbo].[BangLuongThang] ([MaBangLuong], [MaNV], [Thang], [Nam], [SoNgayCong], [LuongCoBan], [HeSoLuong], [TongPhuCap], [TongThuong], [KhauTruBHXH], [KhauTruBHYT], [KhauTruBHTN], [ThueTNCN], [ThucLanh]) VALUES (N'0326NV002', N'NV002', 3, 2026, 21, CAST(72000000.00 AS Decimal(18, 2)), CAST(7.20 AS Decimal(10, 2)), CAST(8500000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(5760000.00 AS Decimal(18, 2)), CAST(1080000.00 AS Decimal(18, 2)), CAST(720000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(72940000.00 AS Decimal(18, 2)))
INSERT [dbo].[BangLuongThang] ([MaBangLuong], [MaNV], [Thang], [Nam], [SoNgayCong], [LuongCoBan], [HeSoLuong], [TongPhuCap], [TongThuong], [KhauTruBHXH], [KhauTruBHYT], [KhauTruBHTN], [ThueTNCN], [ThucLanh]) VALUES (N'0326NV003', N'NV003', 3, 2026, 21, CAST(45000000.00 AS Decimal(18, 2)), CAST(6.80 AS Decimal(10, 2)), CAST(6500000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(3600000.00 AS Decimal(18, 2)), CAST(675000.00 AS Decimal(18, 2)), CAST(450000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(46775000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ChiTietNhanVien] ([MaNV], [CCCD], [DiaChi], [SDT], [Email]) VALUES (N'NV001', N'075075001234', N'28 Lê Duẩn, Q.1, TP.HCM', N'0903100001', N'bao.tranquoc@novatech.vn')
INSERT [dbo].[ChiTietNhanVien] ([MaNV], [CCCD], [DiaChi], [SDT], [Email]) VALUES (N'NV002', N'079079005678', N'15 Nguyễn Huệ, Q.1, TP.HCM', N'0903100002', N'trang.lethi@novatech.vn')
INSERT [dbo].[ChiTietNhanVien] ([MaNV], [CCCD], [DiaChi], [SDT], [Email]) VALUES (N'NV003', N'001082111222', N'45 Kim Mã, Ba Đình, Hà Nội', N'0912300003', N'huong.nguyenthi@novatech.vn')
GO
INSERT [dbo].[ChiTietThuong] ([MaCTT], [MaNV], [MaThuong], [SoTien], [NgayThuong], [GhiChu]) VALUES (N'CTT001', N'NV009', N'TH01', CAST(5000000.00 AS Decimal(18, 2)), CAST(N'2025-12-28' AS Date), N'KPI Q4 đạt 120%')
INSERT [dbo].[ChiTietThuong] ([MaCTT], [MaNV], [MaThuong], [SoTien], [NgayThuong], [GhiChu]) VALUES (N'CTT002', N'NV010', N'TH01', CAST(4500000.00 AS Decimal(18, 2)), CAST(N'2025-12-28' AS Date), N'KPI Q4 đạt 115%')
INSERT [dbo].[ChiTietThuong] ([MaCTT], [MaNV], [MaThuong], [SoTien], [NgayThuong], [GhiChu]) VALUES (N'CTT003', N'NV011', N'TH01', CAST(3500000.00 AS Decimal(18, 2)), CAST(N'2025-12-28' AS Date), N'KPI Q4 đạt 108%')
GO
INSERT [dbo].[ChucVu] ([MaCV], [TenCV], [HeSoLuong]) VALUES (N'CV01', N'Tổng Giám đốc', CAST(8.40 AS Decimal(10, 2)))
INSERT [dbo].[ChucVu] ([MaCV], [TenCV], [HeSoLuong]) VALUES (N'CV02', N'Phó Tổng Giám đốc', CAST(7.20 AS Decimal(10, 2)))
INSERT [dbo].[ChucVu] ([MaCV], [TenCV], [HeSoLuong]) VALUES (N'CV03', N'Giám đốc Tài chính', CAST(6.80 AS Decimal(10, 2)))
GO
INSERT [dbo].[DanhMucThuong] ([MaThuong], [TenLoaiThuong], [MoTa]) VALUES (N'TH01', N'Thưởng hiệu suất', N'Thưởng theo KPI / hiệu suất công việc hàng quý')
INSERT [dbo].[DanhMucThuong] ([MaThuong], [TenLoaiThuong], [MoTa]) VALUES (N'TH02', N'Thưởng chuyên cần', N'Thưởng đi làm đầy đủ, đúng giờ cả quý')
INSERT [dbo].[DanhMucThuong] ([MaThuong], [TenLoaiThuong], [MoTa]) VALUES (N'TH03', N'Thưởng dự án', N'Thưởng hoàn thành dự án đúng hạn')
GO
INSERT [dbo].[DeAn] ([MaDA], [TenDA], [NgayBatDau], [NgayKetThuc], [MaPB], [VonDeAn], [TrangThai]) VALUES (N'DA01', N'Hệ thống ERP nội bộ', CAST(N'2023-01-15' AS Date), CAST(N'2024-06-30' AS Date), N'PB04', CAST(2500000000.00 AS Decimal(18, 2)), N'Hoàn thành')
INSERT [dbo].[DeAn] ([MaDA], [TenDA], [NgayBatDau], [NgayKetThuc], [MaPB], [VonDeAn], [TrangThai]) VALUES (N'DA02', N'App mobile bán hàng NovaMart', CAST(N'2024-03-01' AS Date), CAST(N'2025-03-31' AS Date), N'PB04', CAST(1800000000.00 AS Decimal(18, 2)), N'Hoàn thành')
INSERT [dbo].[DeAn] ([MaDA], [TenDA], [NgayBatDau], [NgayKetThuc], [MaPB], [VonDeAn], [TrangThai]) VALUES (N'DA03', N'Nền tảng E-learning NovaCademy', CAST(N'2025-01-10' AS Date), CAST(N'2026-06-30' AS Date), N'PB04', CAST(3200000000.00 AS Decimal(18, 2)), N'Đang thực hiện')
GO
INSERT [dbo].[HopDong] ([MaHD], [MaNV], [LoaiHD], [NgayBatDau], [NgayKetThuc], [LuongHopDong], [TrangThai], [GhiChu]) VALUES (N'HD001', N'NV001', N'Vô thời hạn', CAST(N'2018-03-15' AS Date), NULL, CAST(85000000.00 AS Decimal(18, 2)), N'Có hiệu lực', N'Hợp đồng sáng lập')
INSERT [dbo].[HopDong] ([MaHD], [MaNV], [LoaiHD], [NgayBatDau], [NgayKetThuc], [LuongHopDong], [TrangThai], [GhiChu]) VALUES (N'HD002', N'NV002', N'Vô thời hạn', CAST(N'2018-03-15' AS Date), NULL, CAST(72000000.00 AS Decimal(18, 2)), N'Có hiệu lực', N'Phó TGĐ')
INSERT [dbo].[HopDong] ([MaHD], [MaNV], [LoaiHD], [NgayBatDau], [NgayKetThuc], [LuongHopDong], [TrangThai], [GhiChu]) VALUES (N'HD003', N'NV003', N'3 năm', CAST(N'2018-04-01' AS Date), CAST(N'2021-03-31' AS Date), CAST(38000000.00 AS Decimal(18, 2)), N'Chấm dứt', N'Hết hạn, ký lại')
GO
INSERT [dbo].[LoaiNghiPhep] ([MaLoaiNP], [TenLoai], [SoNgayToiDa], [MoTa]) VALUES (N'LNP01', N'Nghỉ phép năm (Có lương)', 12, N'Nghỉ theo tiêu chuẩn hàng năm, hưởng lương')
INSERT [dbo].[LoaiNghiPhep] ([MaLoaiNP], [TenLoai], [SoNgayToiDa], [MoTa]) VALUES (N'LNP02', N'Nghỉ ốm đau', 30, N'Nghỉ hưởng chế độ BHXH')
INSERT [dbo].[LoaiNghiPhep] ([MaLoaiNP], [TenLoai], [SoNgayToiDa], [MoTa]) VALUES (N'LNP03', N'Nghỉ thai sản', 180, N'Nghỉ theo luật BHXH')
GO
INSERT [dbo].[LoaiPhuCap] ([MaLoaiPC], [TenLoaiPC], [MoTa]) VALUES (N'PC01', N'Đi lại', N'Phụ cấp hỗ trợ xăng xe, di chuyển')
INSERT [dbo].[LoaiPhuCap] ([MaLoaiPC], [TenLoaiPC], [MoTa]) VALUES (N'PC02', N'Nhà ở', N'Phụ cấp hỗ trợ thuê nhà')
INSERT [dbo].[LoaiPhuCap] ([MaLoaiPC], [TenLoaiPC], [MoTa]) VALUES (N'PC03', N'Xăng xe', N'Phụ cấp xăng xe riêng')
GO
INSERT [dbo].[NghiPhep] ([MaNP], [MaNV], [MaLoaiNP], [TuNgay], [DenNgay], [SoNgay], [LyDo], [TrangThai]) VALUES (N'NP001', N'NV004', N'LNP01', CAST(N'2025-12-23' AS Date), CAST(N'2025-12-27' AS Date), 5, N'Về quê dịp Noel', N'Đã duyệt')
INSERT [dbo].[NghiPhep] ([MaNP], [MaNV], [MaLoaiNP], [TuNgay], [DenNgay], [SoNgay], [LyDo], [TrangThai]) VALUES (N'NP002', N'NV007', N'LNP02', CAST(N'2026-01-06' AS Date), CAST(N'2026-01-08' AS Date), 3, N'Cảm cúm nặng', N'Đã duyệt')
INSERT [dbo].[NghiPhep] ([MaNP], [MaNV], [MaLoaiNP], [TuNgay], [DenNgay], [SoNgay], [LyDo], [TrangThai]) VALUES (N'NP003', N'NV012', N'LNP01', CAST(N'2026-02-16' AS Date), CAST(N'2026-02-20' AS Date), 5, N'Du lịch Tết Nguyên đán', N'Đã duyệt')
GO
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [GioiTinh], [NgaySinh], [NgayBatDau], [TrangThai], [MaPB], [MaCV]) VALUES (N'NV001', N'Trần Quốc', N'Bảo', N'Nam', CAST(N'1975-08-12' AS Date), CAST(N'2018-03-15' AS Date), N'Đang làm', N'PB01', N'CV01')
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [GioiTinh], [NgaySinh], [NgayBatDau], [TrangThai], [MaPB], [MaCV]) VALUES (N'NV002', N'Lê Thị Minh', N'Trang', N'Nữ', CAST(N'1980-02-28' AS Date), CAST(N'2018-03-15' AS Date), N'Đang làm', N'PB01', N'CV02')
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [GioiTinh], [NgaySinh], [NgayBatDau], [TrangThai], [MaPB], [MaCV]) VALUES (N'NV003', N'Nguyễn Thị', N'Hương', N'Nữ', CAST(N'1982-11-05' AS Date), CAST(N'2018-04-01' AS Date), N'Đang làm', N'PB02', N'CV04')
GO
INSERT [dbo].[PhanCongDeAn] ([MaNV], [MaDA], [NgayBatDau], [NgayKetThuc], [PhuCapDeAn]) VALUES (N'NV003', N'DA06', CAST(N'2025-09-01' AS Date), CAST(N'2026-03-31' AS Date), CAST(2000000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhanCongDeAn] ([MaNV], [MaDA], [NgayBatDau], [NgayKetThuc], [PhuCapDeAn]) VALUES (N'NV004', N'DA06', CAST(N'2025-09-15' AS Date), CAST(N'2026-03-31' AS Date), CAST(1000000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhanCongDeAn] ([MaNV], [MaDA], [NgayBatDau], [NgayKetThuc], [PhuCapDeAn]) VALUES (N'NV005', N'DA06', CAST(N'2025-10-01' AS Date), CAST(N'2026-03-31' AS Date), CAST(1000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[PhongBan] ([MaPB], [TenPB], [MaTruongPB], [NgayThanhLap], [Email]) VALUES (N'PB01', N'Ban Giám đốc', N'NV001', CAST(N'2018-03-15' AS Date), N'bgimdoc@novatech.vn')
INSERT [dbo].[PhongBan] ([MaPB], [TenPB], [MaTruongPB], [NgayThanhLap], [Email]) VALUES (N'PB02', N'Phòng Nhân sự', N'NV003', CAST(N'2018-03-15' AS Date), N'nhansu@novatech.vn')
INSERT [dbo].[PhongBan] ([MaPB], [TenPB], [MaTruongPB], [NgayThanhLap], [Email]) VALUES (N'PB03', N'Phòng Tài chính - Kế toán', N'NV006', CAST(N'2018-04-01' AS Date), N'ketoan@novatech.vn')
GO
INSERT [dbo].[PhuCap] ([MaPC], [MaNV], [MaLoaiPC], [SoTien], [NgayApDung], [NgayKetThuc]) VALUES (N'PC0101', N'NV001', N'PC05', CAST(8000000.00 AS Decimal(18, 2)), CAST(N'2018-03-15' AS Date), NULL)
INSERT [dbo].[PhuCap] ([MaPC], [MaNV], [MaLoaiPC], [SoTien], [NgayApDung], [NgayKetThuc]) VALUES (N'PC0102', N'NV001', N'PC01', CAST(3000000.00 AS Decimal(18, 2)), CAST(N'2018-03-15' AS Date), NULL)
INSERT [dbo].[PhuCap] ([MaPC], [MaNV], [MaLoaiPC], [SoTien], [NgayApDung], [NgayKetThuc]) VALUES (N'PC0103', N'NV002', N'PC05', CAST(6000000.00 AS Decimal(18, 2)), CAST(N'2018-03-15' AS Date), NULL)
GO
INSERT [dbo].[ThamSo] ([MaThamSo], [TenThamSo], [GiaTri], [MoTa], [NgayCapNhat]) VALUES (N'TS001', N'MucLuongCoSo', CAST(2340000.00 AS Decimal(18, 2)), N'Mức lương cơ sở theo Nghị định (từ 01/07/2024)', CAST(N'2024-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[ThamSo] ([MaThamSo], [TenThamSo], [GiaTri], [MoTa], [NgayCapNhat]) VALUES (N'TS002', N'TyLeBHXH', CAST(8.00 AS Decimal(18, 2)), N'Tỷ lệ BHXH người lao động đóng (%)', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[ThamSo] ([MaThamSo], [TenThamSo], [GiaTri], [MoTa], [NgayCapNhat]) VALUES (N'TS003', N'TyLeBHYT', CAST(1.50 AS Decimal(18, 2)), N'Tỷ lệ BHYT người lao động đóng (%)', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_BangLuongThang_MaNV_Thang_Nam]    Script Date: 01/04/2026 17:39:41 ******/
ALTER TABLE [dbo].[BangLuongThang] ADD  CONSTRAINT [UQ_BangLuongThang_MaNV_Thang_Nam] UNIQUE NONCLUSTERED 
(
	[MaNV] ASC,
	[Thang] ASC,
	[Nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ThamSo__A49B135889080EB6]    Script Date: 01/04/2026 17:39:41 ******/
ALTER TABLE [dbo].[ThamSo] ADD UNIQUE NONCLUSTERED 
(
	[TenThamSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BangChamCong]  WITH CHECK ADD  CONSTRAINT [FK_BangChamCong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[BangChamCong] CHECK CONSTRAINT [FK_BangChamCong_NhanVien]
GO
ALTER TABLE [dbo].[BangLuongThang]  WITH CHECK ADD  CONSTRAINT [FK_BangLuongThang_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[BangLuongThang] CHECK CONSTRAINT [FK_BangLuongThang_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhanVien_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChiTietNhanVien] CHECK CONSTRAINT [FK_ChiTietNhanVien_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietThuong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietThuong_DanhMucThuong] FOREIGN KEY([MaThuong])
REFERENCES [dbo].[DanhMucThuong] ([MaThuong])
GO
ALTER TABLE [dbo].[ChiTietThuong] CHECK CONSTRAINT [FK_ChiTietThuong_DanhMucThuong]
GO
ALTER TABLE [dbo].[ChiTietThuong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietThuong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChiTietThuong] CHECK CONSTRAINT [FK_ChiTietThuong_NhanVien]
GO
ALTER TABLE [dbo].[DeAn]  WITH CHECK ADD  CONSTRAINT [FK_DeAn_PhongBan] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PhongBan] ([MaPB])
GO
ALTER TABLE [dbo].[DeAn] CHECK CONSTRAINT [FK_DeAn_PhongBan]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_NhanVien]
GO
ALTER TABLE [dbo].[NghiPhep]  WITH CHECK ADD  CONSTRAINT [FK_NghiPhep_LoaiNghiPhep] FOREIGN KEY([MaLoaiNP])
REFERENCES [dbo].[LoaiNghiPhep] ([MaLoaiNP])
GO
ALTER TABLE [dbo].[NghiPhep] CHECK CONSTRAINT [FK_NghiPhep_LoaiNghiPhep]
GO
ALTER TABLE [dbo].[NghiPhep]  WITH CHECK ADD  CONSTRAINT [FK_NghiPhep_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[NghiPhep] CHECK CONSTRAINT [FK_NghiPhep_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_PhongBan] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PhongBan] ([MaPB])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_PhongBan]
GO
ALTER TABLE [dbo].[PhanCongDeAn]  WITH CHECK ADD  CONSTRAINT [FK_PhanCongDeAn_DeAn] FOREIGN KEY([MaDA])
REFERENCES [dbo].[DeAn] ([MaDA])
GO
ALTER TABLE [dbo].[PhanCongDeAn] CHECK CONSTRAINT [FK_PhanCongDeAn_DeAn]
GO
ALTER TABLE [dbo].[PhanCongDeAn]  WITH CHECK ADD  CONSTRAINT [FK_PhanCongDeAn_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhanCongDeAn] CHECK CONSTRAINT [FK_PhanCongDeAn_NhanVien]
GO
ALTER TABLE [dbo].[PhongBan]  WITH CHECK ADD  CONSTRAINT [FK_PhongBan_TruongPB] FOREIGN KEY([MaTruongPB])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhongBan] CHECK CONSTRAINT [FK_PhongBan_TruongPB]
GO
ALTER TABLE [dbo].[PhuCap]  WITH CHECK ADD  CONSTRAINT [FK_PhuCap_LoaiPhuCap] FOREIGN KEY([MaLoaiPC])
REFERENCES [dbo].[LoaiPhuCap] ([MaLoaiPC])
GO
ALTER TABLE [dbo].[PhuCap] CHECK CONSTRAINT [FK_PhuCap_LoaiPhuCap]
GO
ALTER TABLE [dbo].[PhuCap]  WITH CHECK ADD  CONSTRAINT [FK_PhuCap_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhuCap] CHECK CONSTRAINT [FK_PhuCap_NhanVien]
GO
USE [master]
GO
